body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  text-align: center;
  margin-top: 200px;
  background: orange;
  top: 50%;
  left: 50%;
  font-size: 50px;
}

button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 5px;
  font-size: 40px;
}

.head2 {
  font-style: italic;
}
